<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/home"><img src="/images/logo.png" alt="Modaz Logo"></a>
            </div>
            <ul class="nav-links">
                <li><a href="/home">HOME</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">PAGE</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <div class="icons">
                <a href="#" class="icon-container">
                    <img src="/images/search.svg" alt="Search Icon" class="icon">
                </a>
                <th:block th:if="${session.loginMember == null}">
                    <a href="/login" class="icon-container">
                        <img src="/images/profile.svg" alt="Login Icon" class="icon">
                    </a>
                </th:block>
                <th:block th:if="${session.loginMember != null}">
                    <a href="/mypage" class="icon-container">
                        <img src="/images/profile.svg" alt="Profile Icon" class="icon">
                    </a>
                    <a href="/logout" class="icon-container">로그아웃</a>
                </th:block>
                <a href="/cart" class="icon-container">
                    <img src="/images/cart.svg" alt="Cart Icon" class="icon">
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="welcome-message">
            <span th:if="${session.loginMember != null}" th:text="${session.loginMember.name + '님 환영합니다'}"></span>
        </div>

        <div th:if="${session.loginMember != null && session.loginMember.email == 'admin@admin'}">
            <a href="/admin" class="admin-button">관리자 페이지</a>
        </div>

        <div class="menu-section">
            <h2>마이페이지 메뉴</h2>
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="/member/update">회원 정보</a>
                </li>
                <li class="menu-item">
                    <a href="/orders">주문 내역</a>
                </li>
                <li class="menu-item">
                    <a href="/address">배송지 관리</a>
                </li>
                <li class="menu-item">
                    <a href="/orders">주문배송조회</a>
                </li>
                <li class="menu-item">
                    <a href="/cart">장바구니</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html> 